:root {
}

.card-header .fa {
  transition: .3s transform ease-in-out;
}
.card-header .collapsed .fa {
  transform: rotate(-90deg);
}

body {
    background:#ffffff;
}

.color-primary {
    color: #7c36ff
}
.color-accent {
    color: #f7deff
}
.color-dark {
    color: #000000
}
.border-accent {
    border-color: #f7deff
}
.primary {
    background: #7c36ff
}

.accent {
    background: #f7deff
}

.white {
    background: #ffffff
}

.black {
    background: #000000
}

a:visited {
    color: #000000
}
a:link {
    color: #000000
}
a:hover {
    color:#7c36ff;
}


#projects {
    max-width:80%;
}
@media (min-width: 992px) {
    #projects {
        max-width: 60%;
    }
}
